.nav.nav-pills.nav-stacked ul {
    padding-left: 4%;
}

#header {
    margin-bottom: 2em;
}

#header .jumbotron {
    margin-bottom: 1em;
}

#footer {
    margin-top: 2em;
    padding-bottom: 1em;
}

#pesquisa {
    margin-bottom: 2em;
}

#content .visualizar {
    margin-top: 1em;
}